NEXT_PUBLIC_NETWORK=devnet
NEXT_PUBLIC_RPC_URL=https://devnet.helius-rpc.com/?api-key=YOUR_KEY
NEXT_PUBLIC_PROGRAM_ID=your_deployed_program_id
NEXT_PUBLIC_HELIUS_API_KEY=your_helius_api_key
HELIUS_RPC_URL=https://devnet.helius-rpc.com/?api-key=YOUR_KEY
HELIUS_API_KEY=your_helius_api_key
KEEPER_KEYPAIR_PATH=./keypairs/keeper.json
TREASURY_WALLET=your_treasury_wallet_pubkey
PROGRAM_ID=your_deployed_program_id
OZX_MINT=your_ozx_mint_address
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook
NEXT_PUBLIC_DISCORD=https://discord.gg/hZ4BE84qc3
NEXT_PUBLIC_TWITTER=https://x.com/OzlaxHQ
NEXT_PUBLIC_TELEGRAM=https://t.me/ozlaxfi
